<style type="text/css">
.tf  {border-collapse:collapse;border-spacing:0;width:100%}
.tf td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:16px;
  overflow:hidden;padding:10px 10px;word-break:normal;}
.tf th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:16px;
  font-weight:normal;overflow:hidden;padding:10px 10px;word-break:normal;}
.tf .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.col1 { width: 20%;}
.col2 { width: 80%;}
</style>
<table class="tf">
<thead>
  <tr>
    <th class="tg-0pky col1">Name</th>
    <th class="tg-0pky col2">Hatim Sawai</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky col1">UID No.</td>
    <td class="tg-0pky col2">2021300108</td>
  </tr>
</tbody>
</table>

## <p style="text-align:center;font-weight:500;">Experiment 5</p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;width:100%}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:16px;
  overflow:hidden;padding:10px 10px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:16px;
  font-weight:normal;overflow:hidden;padding:10px 10px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top;}
.col1 { width: 20%;}
.col2 { width: 80%;}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky col1">HONOR PLEDGE</th>
    <th class="tg-0pky col2">
        <img src="../docs/pledge.jpg" alt="honor pledge">
    </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky col1">PROBLEM STATEMENT</td>
    <td class="tg-0pky col2" style="font-size:16px;">
      <strong>Data Quality Assurance</strong>
      <br>
      1. Pick a time-series dataset from either of the websites based on batch majority
      <br>
      2. Assess the quality of this dataset on all the dimensions of quality as identified by you.
      <br>
      3. Identify and handle inconsistent or erroneous data
      <br>
      4. Calculate data quality metrics for each data quality dimension for your dataset
    </td>
  </tr>
  <tr>
    <td class="tg-0pky col1">THEORY</td>
    <td class="tg-0pky col2">
      <strong>Q. What are the 6 core dimensions of data quality? Elaborate on each with an example. Is there any other dimension that you can think of apart from these 6 for measuring quality?</strong>
      <br>
      Ans. The six core dimensions of data quality are:
      <br>
      1. <strong>Accuracy</strong>: It is the degree to which data correctly represents the real-world scenario. For example, a dataset containing the age of people should not contain any negative values.
      <br>
      2. <strong>Completeness</strong>: It is the degree to which all the required data is present. For example, a dataset containing the age of people should not contain any missing values.
      <br>
      3. <strong>Consistency</strong>: It is the degree to which data is consistent within itself. For example, a dataset containing the age of people should not contain any inconsistent values like a person with age 200 years.
      <br>
      4. <strong>Timeliness</strong>: It is the degree to which data is available within the required time frame. For example, a dataset containing the age of people should not contain any future dates.
      <br>
      5. <strong>Uniqueness</strong>: It is the degree to which data is unique. For example, a dataset containing the age of people should not contain any duplicate values.
      <br>
      6. <strong>Validity</strong>: It is the degree to which data conforms to the defined schema. For example, a dataset containing the age of people should not contain any non-numeric values.
      <br>
      <br>
      Apart from these 6 dimensions, another dimension that can be used for measuring quality is <strong>Reliability</strong>. It is the degree to which data is reliable. For example, a dataset containing the age of people should not contain any values that are not reliable.
    </td>
  </tr>
</tbody>
</table>

### 1. Importing Libraries & Dataset

In [3]:
import numpy as np
import pandas as pd
# read csv file
df = pd.read_csv('../Datasets/Flight_Schedule.csv', low_memory=False)
df.head()

,airline,flightNumber,origin,destination,daysOfWeek,scheduledDepartureTime,scheduledArrivalTime,timezone,validFrom,validTo,lastUpdated
0,GoAir,425,Delhi,Hyderabad,"Sunday,Monday,Tuesday,Wednesday,Thursday,Frida...",05:45,NaN,2019-03-30,2018-10-28,2019-03-30,2023-11-05
1,GoAir,423,Delhi,Hyderabad,Saturday,07:30,NaN,2018-10-28,2018-10-28,2018-10-28,2023-11-05
2,GoAir,423,Delhi,Hyderabad,Friday,07:30,NaN,2018-12-01,2018-11-03,2018-12-01,2023-11-05
3,GoAir,423,Delhi,Hyderabad,Friday,07:30,NaN,2019-03-30,2019-02-02,2019-03-30,2023-11-05
4,GoAir,423,Delhi,Hyderabad,"Sunday,Monday,Tuesday,Wednesday,Thursday,Saturday",07:30,NaN,2018-11-30,2018-10-29,2018-11-30,2023-11-05

### 2. Assessing the Quality of Dataset

#### 2.1. Dimension: Accuracy

In [4]:
# assess the accuracy of the data
df.info()
# check for missing values
missing = df.isnull().sum()
# check for duplicates
dups = df.duplicated().sum()
# check for unique values
uns = df.nunique()

print("\nSummary of the data:")
print("Missing values: ", missing)
print("Duplicates: ", dups)
print("Unique values: ", uns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88982 entries, 0 to 88981
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   airline                 88307 non-null  object
 1   flightNumber            88659 non-null  object
 2   origin                  88482 non-null  object
 3   destination             88435 non-null  object
 4   daysOfWeek              88981 non-null  object
 5   scheduledDepartureTime  58296 non-null  object
 6   scheduledArrivalTime    58014 non-null  object
 7   timezone                88982 non-null  object
 8   validFrom               88982 non-null  object
 9   validTo                 88982 non-null  object
 10  lastUpdated             88982 non-null  object
dtypes: object(11)
memory usage: 7.5+ MB

Summary of the data:
Missing values:  airline                     675
flightNumber                323
origin                      500
destination                 547
daysOfWeek                    1
scheduledDepartureTime    30686
scheduledArrivalTime      30968
timezone                      0
validFrom                     0
validTo                       0
lastUpdated                   0
dtype: int64
Duplicates:  1084
Unique values:  airline                     14
flightNumber              4877
origin                     112
destination                112
daysOfWeek                 126
scheduledDepartureTime     288
scheduledArrivalTime       288
timezone                  1255
validFrom                 1266
validTo                   1255
lastUpdated                  1
dtype: int64

Ans: The dataset contains the correct values for the real-world scenario.

#### 2.2. Dimension: Completeness

In [9]:
# negative values in the data

TypeError: '<' not supported between instances of 'str' and 'int'

#### 2.3. Dimension: Consistency

#### 2.4. Dimension: Timeliness

#### 2.5. Dimension: Uniqueness

#### 2.6. Dimension: Validity

### 3. Identifying and Handling Inconsistent or Erroneous Data

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;width:100%}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:16px;
  overflow:hidden;padding:10px 10px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:16px;
  font-weight:normal;overflow:hidden;padding:10px 10px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top;}
.col1 { width: 20%;}
.col2 { width: 80%;}
</style>
<table class="tg">
<tbody>
  <tr>
    <td class="tg-0pky col1">RESULT</td>
    <td class="tg-0pky col2" style="font-size:16px;">
      <strong>Results:</strong>
    </td>
  </tr>
  <tr>
    <td class="tg-0pky col1">CONCLUSION</td>
    <td class="tg-0pky col2">In this experiment we learnt....
    </td>
  </tr>
</tbody>
</table>